body{
    background-color: rgb(27, 27, 27);
    color: white;
    font-family: "copperplate", fantasy;
}

#gioco{
    width:70%;
}

#prodotto{
    width:300px;
}

.forms{
    background-color: rgb(70,70,70);
    border-radius:30px;
    margin-top:20px;
}

input[type=text],input[type=date],input[type=number],select{
    height: 30px;
    width:150px;
    border-radius: 6px;
    border: 1px solid black;
    text-align:left;
    font-size:15px;
    margin-top:10px;
}

label{
    font-size:18px;
}

#selectGioco{
    font-size:18px;
}

#formProdotto{
    display:none;
}

.aggiunta{
    margin-top:20px;
    text-align:center;
    width:300px;
    heigth:95px;
    background-color:#601194;
    border-radius:10px;
}

.aggiunta p{
    font-size:25px;
}

.aggiunta:hover{
    background-color:rebeccapurple;
}

#admin{
    border-radius: 6px;
    border: 2px solid black;
    background-color:#601194;
    width: 200px;
    height: 50px;
    position: fixed;
    right: 5px;
    top: 5px;
    font-family: "copperplate", fantasy;
    margin-top: 0;
    font-size: 40px;
    text-align: center;
    display: inline-block;
}

h1{
    font-family: "copperplate", fantasy;
}

#dati{
    width: 100%;
    height: 700px;
    text-align: center;
}

#dati div{
    display: inline-block;
}

#formGioco{
    display:none
}

#gioco input{
    margin-top: 10px;
}

#bottoneGioco, #bottoneProdotto{
    visibility:hidden;
}

#descrizione{
    margin-top:10px;
    width:80%;
    height: 300px;
    border-radius: 16px;
    text-align:left;
    font-size:15px;
    resize: none;
}

#caricaImmagini{
    text-align:center;
}

input[type=file]{
    display:none;
}

.custom-file-upload, input[type=submit]{
    color:white;
    font-family: "copperplate", fantasy;
    border:0px;
    margin: 20px 20px;
    padding: 10px 10px;
    border-radius: 6px;
    background-color:#601194;
    font-size: 18px;
}

#titolo{
    width: 300px;
    height: 30px;
    border-radius: 6px;
}

.tasto{
    display: inline-block;
    width: 300px;
    height: 70px;
    background-color:#601194;
    border-radius: 6px;
    transition-duration: 0.3s;
}

.piattaformaname{
    font-size: 30px;
    font-family: "copperplate", fantasy;
    margin-top: 5px;
}

.piattaformaname:hover, #admin:hover, input[type=submit]:hover,.custom-file-upload:hover{
    background-color: rebeccapurple;
}

a p{
    color:white;
}

a:link, a:visited{
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

@media only screen and (max-width: 600px){
    h1{
        font-size: 25px;
    }
}

@media only screen and (max-width: 700px){
    #gioco{
        width:450px;
    }
}
