body{
    color: white;
}

.formModifica p{
    color:white;
    font-family: "copperplate", fantasy;
}

.formModifica{
    width:70%;
    margin:auto;
}

.dati, input[type=password]{
    width:40%;
    height: 40px;
    border-radius: 6px;
    border: 1px solid black;
    text-align:left;
    font-size:18px;
}

label{
    color:white;
    font-family: "copperplate", fantasy;
}

.mod{
    background-color:#601194;
    width:85px;
    height:50px;
    border-radius:6px;
    border:0px;
    color:white;
    font-family: "copperplate", fantasy;
    font-size:20px;
    visibility:hidden;
}

.errore{
    font-family: "copperplate", fantasy;
    font-size:13px;
    color:red;
    display:none;
}

.mod:hover{
    background-color:rebeccapurple;
}

@media only screen and (max-width: 1200px){
    input[type=text], input[type=password]{
        height: 40px;
        width: 300px;
        font-size:15px;
    }
}

@media only screen and (max-width:700px){
    .corpo{
        margin-top:30px;
    }
}