body{
    background-color: black;
    background-color: rgb(27, 27, 27);
}

#corpo{
    height: 2500px;
    width: 99%;
    display: inline;
    position: absolute;
    top: 65px;
}

#primoPiano{
    width: 100%;
    height: 475px;
    border-radius: 6px;
    margin-top: 0px;
    text-align: center;
}

#primoPiano img{
    width: 85%;
    height: 100%;
    margin: 0 auto;
}

.section{
    margin: 10px;
    font-size: 40px;
}

#giochi{
    width: 100%;
    height: 2000px;
    text-align: center;
    font-family: "copperplate", fantasy;
}

.elemento{
    display: inline-block;
    height: 200px;
    width: 300px;
    margin: 40px 50px;
    border-radius: 6px;
    text-align: left;
    transition: 0.2s;
}

.elemento:hover{
    transform: scale(1.05);
}

.elemento a{
    width: 100%;
    height: 80%;
}

.elemento a img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
}


#footer{
    left: 0;
    right: 0;
    height: 100px;
    position: absolute;
    top: 2600px;
}

@media only screen and (max-width: 1200px) {
    #categorie{
        visibility: hidden;
    }
}

@media only screen and (max-width: 900px) {
    #primoPiano{
        height: 300px;
    }
}