body{
    background-color: rgb(27, 27, 27);
    color: white;
}

a:visited{
    color: yellow;
}

#accesso{
    width: 500px;
    line-height: 70px;
    margin: auto;
    margin-top: 5%;
    background-color: rebeccapurple;
    border-radius: 6px;
    font-family: "copperplate",fantasy;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    color: white;
    text-align:center;
}

form{
    margin: auto;
    width:70%;
}

input[type=text], input[type=password]{
    height: 40px;
    border-radius: 6px;
    border: 1px solid black;
    text-align:left;
    font-size:18px;
}

p{
    font-size:35px;
}

#bottone,#bottoneReg{
    height: 35px;
    border-radius: 6px;
    background-color: yellow;
    font-family: "copperplate",fantasy;
    font-size: 25px;
    margin-bottom: 20px;
}

#bottoneReg{
    visibility:hidden;
}

#bottone:hover, bottoneReg:hover{
    background-color: khaki;
}

#footer{
    color: white;
    font-size: 15px;
    position: fixed;
    bottom: 0px;
    right: 10px;
}

#registration{
    text-align:center;
    width: 60%;
    line-height: 70px;
    margin: auto;
    margin-top: 2.5%;
    background-color: rebeccapurple;
    border-radius: 6px;
    font-family: "copperplate",fantasy;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    color: white;
}

.serch{
    left: 20%;
    width: 70%;
    height: 30px;
    text-align: center;
}

.errore{
    color:red;
    font-size:15px;
    margin:0px;
    visibility:hidden;
}

.erroreReg{
    color:red;
    font-size:15px;
    margin:0px;
}



@media only screen and (max-width: 1000px){
    #registration, #accesso{
        width: 450px;
    }
}