/*css riferito alla barra di navigazione e i suoi elementi*/

body{
    color: white;
}

#navBar{
    background-color: #601194;
    width: 100%;
    height: 52px;
    top: 8px;
    left: 6px;
    border-radius: 6px;
    position: fixed;
    z-index: 3;
}

#navBar div{
    float: left;
    position: absolute;
}

#logo{
    height: 100%;
    width: 70px;
    text-align: center;
    border-radius: 6px;
}

.button:hover{
    background-color: mediumpurple;
    border-radius: 6px;
}

#search{
    left: 10%;
    width: 35%;
    height: 100%;
    text-align: center;
}

#searchBarForm{
    height: 100%;
    width: 100%;
    font-size: 0px;
}

#searchBar{
    width: 75%;
    height: 35px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid black;
}

#searchBar:focus{
    outline: none;
}

#searchButton{
    height: 29px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 1px solid black;
    background-image: url("pictures/lente.png");
    background-repeat: no-repeat;
}

#carrello{
    height: 100%;
    right: 0px;
    width: 80px;
    text-align: center;
    border-radius: 6px;
}

#login{
    right: 80px;
    font-family: "copperplate", fantasy;
    letter-spacing: 0px;
    min-width: 50px;
    padding-top: 15px;
}

#login a{
    display: block;
    color: #f3e7cd;
    text-align: center;
    text-decoration: none;
}

#login a:hover{
    border-radius: 6px;
    background-color: mediumpurple;
}

#cerca{
    left: 50px;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    border-style: none;
    transition: .2s;
    transition-timing-function: ease-in;
}

#cerca:focus{
    outline: none;
}

#ricercaAvanzata{
    left: 42%;
    height: 100%;
    background-color: #601194;
    padding-left: 5px;
    width: 100px;
    background-repeat: no-repeat;
    border-style: none;
    background-position: center;
    margin-left: 4px;
    visibility: visible;
}

#categorie{
    left: 50%;
    height: 100%;
    background-color: #601194;
    padding-left: 5px;
    width: 100px;
    visibility: visible;
    background-repeat: no-repeat;
    border-style: none;
    background-position: center;
    margin-left: 4px;
}



#categorie:hover{
    background-color: mediumpurple;
    border-radius: 6px;
}

#categorie div{
    display: inline-block;
    margin-top: 15px;
    font-family: "copperplate", fantasy;
}

#ricercaAvanzata:hover{
    background-color: mediumpurple;
    border-radius: 6px;
}

#freccia{
    margin-left: 67px;
    transform: rotate(0deg);
    transition-duration: 0.5s;
}

#freccia1{
    margin-left: 67px;
    transform: rotate(0deg);
    transition-duration: 0.5s;
}

#ricercaAvanzata div{
    display: inline-block;
    margin-top: 15px;
    font-family: "copperplate", fantasy;
}

#menuRicerca{
    width: 550px;
    height: 230px;
    background-color: mediumpurple;
    border-radius: 6px;
    margin-left: 20%;
    font-family: "copperplate", fantasy;
    visibility: hidden;
    position: fixed;
    top: 60px;
    z-index: 3;
}




#menuAvanzato{
    width: 850px;
    height: 450px;
    border-radius: 6px;
    background-color: mediumpurple;


    margin-left: 20%;
    font-family: "copperplate", fantasy;
    visibility: hidden;
    position: fixed;
    top: 60px;
    z-index: 3;
}

.paragrafiReserch{
    font-size: 15px;
}

#categorieMenu{
    width: 200px;
    height: 350px;
    border-radius: 6px;
    background-color: mediumpurple;
    font-size: 20px;
    text-align: center;
    margin-left: 57%;
    font-family: "copperplate", fantasy;
    visibility: hidden;
    position: fixed;
    top: 60px;
    z-index: 3;
}

#categorieMenu div{
    padding-top: 10px;
    padding-bottom: 10px;
}

#categorieMenu div:hover{
    background-color: #601194;
}

#menuAvanzato form{
    width: 100%;
    height: 100%;

}

#piattaforma{
    text-align: center;
}

.sezione{
    display: inline-block;
    width: 300px;
    height: 100%;
    text-align: center;
}

.bottone{
    display: inline-block;
    border-radius: 55px;
    border-style: none;
    width: 100px;
    height: 100px;
    margin: 10px 20px;
    background-color: rebeccapurple;
    opacity: 1;
    background-repeat: no-repeat;
}

.bottone img{
    width: 100%;
    height: 80%;
}

#annoPrezzo select{
    border-radius: 6px;
    height: 25px;
    background-color: dimgrey;
}

#annoPrezzo{
    width: 200px;
}

#annoPrezzo p{
    margin-top: 10px;
}

#ricercaavButton{
    height: 30px;
    width: 50px;
    background-color: yellow;
    border-radius: 6px;
    border: 1px solid black;
    font-family: "copperplate", fantasy;
}

#generi{
    text-align: left;
}

#generi input{
    margin: 6px;
}

@media only screen and (max-width: 1200px) {
    #ricercaAvanzata{
        visibility: hidden;
    }
}




/*fine css barra di navigazionem*/
