body{
    color: white;
}

#prodotto{
    margin-top:75px;
    text-align:center;
    width:100%;
    display:block;
}

.immagineEAcquisto{
    width:100%;
    padding-bottom:75px;
}

.acquisto{
    margin-right:40px;
}

immagine2{
    width:100%;
    heigth:550px;
}

#secondaria{
    margin-left:5px;
    border-radius:10px;
    float:left;
    width: 50%;
    max-height: 440px;
    border: 15px solid white;
}

#setImmagini{
    display:inline-block;
    float:left;
}


.fotoProdotto li{
    display: block;
}

ul{
    left:20px;

}

li{
    padding-right:5px;
    margin-top:4px;
}

ul img{
    width:60px;
    height:60px;
    border-radius:6px;
}

p{
    color:white;
    font-family: "copperplate", fantasy;
    font-size: 40px;
}

#setImmagini{
    margin-left:20px;
}

#descrizione{
    text-align:center;
    position:relative;
    margin-top:75px;
}

.titolo{
    font-size:56px;
}

.summary{
    text-align:left;
    font-size:25px;
}

textarea{
    color:white;
    background-color: rgb(27, 27, 27);
    margin-left:30px;
    width:80%;
    height: 150px;
    border-radius: 6px;
    text-align:left;
    font-family: "copperplate", fantasy;
    font-size:24px;
    resize: none;
}

.bottoneAC{
    background-color:#601194;
    width:200px;
    height:50px;
    border-radius:6px;
    border:0px;
    color:white;
    font-family: "copperplate", fantasy;
    font-size:20px;
}

.bottoneAcquisto input[type=submit]{
    height: 40px;
    width: 200px;
    border-radius: 6px;
    background-color:#601194;
    padding-bottom: 15px;
    font-size: 30px;
}

.Utente{
    display:inline-block;
}

#utenteimage{
    margin-top:10px;
    width:60px;
    float:left;
}

.Utente p{
    margin-left:15px;
    font-size:25px;
    float:left;
}

#stelleVotate{
    margin-left:10px;
    float:left;
}

.stelleRec{
    margin-left:2px;
    margin-top:32px;
}

#recensioneRegistrata{
    width:90%;
    background-color: rgb(27, 27, 27);
    height: 150px;
    border-radius: 6px;
    overflow: auto;
}

#recensioneInserita{
    margin-left:10px;
    font-size: 20px;
}

.recensioneVisibile{
    margin-top:70px;
    padding:10px 10px;
    border-radius:10px;
    width:60%;
    heigth:400px;
    background-color: rgb(100,100,100);
}

.recensioneNonVisibile{
    margin-top:70px;
    padding:10px 10px;
    border-radius:10px;
    width:60%;
    heigth:400px;
    background-color: rgb(100,100,100);
    display:none;
}

input[type=submit]:hover,.aggiunta:hover{
    background-color:rebeccapurple;
}

ul img:hover{
    transform: scale(1.05);
}

.recensione{
    margin-top:70px;
    padding:10px 10px;
    border-radius:10px;
    width:60%;
    heigth:400px;
    background-color: rgb(100,100,100);
}

.aggiunta{
    margin-top:20px;
    text-align:center;
    width:300px;
    heigth:95px;
    background-color:#601194;
    border-radius:10px;
}

#submitRecensione{
    visibility:hidden;
}

#nascondiRecensioni{
    display:none;
}

#STAR_RATING ul
{
    width:350px;
    margin: 0px;
    padding: 0px;
    height: 20px;
    list-style: none;
}
#STAR_RATING li
{
    margin-left: 10px;
    width: 19px;
    height: 16px;
    display: block;
    float: left;
    background-image: url('pictures/stella0.png');
    background-repeat: no-repeat;
    cursor: pointer;
}
#STAR_RATING li.on
{
    background-image: url('pictures/stella1.png');
}
#STAR_RATING span.output
{
    padding: 3px;
    color: white;
    font-family: "copperplate", fantasy;
}

@media only screen and (max-width: 1300px){

    #setImmagini{
        margin-left:100px;
    }

    #secondaria{
        float:none;
    }

    .acquisto{
        text-align:center;
        float:none;
    }

    .summary{
        text-align:center;
    }

    #descrizione{
        margin-top:30px;
    }

}


@media only screen and (max-width: 1200px){

    #setImmagini{
        margin-left:80px;
    }
    #setImmagini{
        margin-left:10px;
    }
}

@media only screen and (max-width: 952px){

    .aggiunta{
        width:150px;
    }
    .aggiunta p{
        font-size:25px;
    }

    #setImmagini{
        margin-left:10px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        margin-bottom:5px;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;
    }

    li a{
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }
}

@media only screen and (max-width: 1300px){

    #secondaria{
        width:750px;
    }
}

@media only screen and (max-width: 1000px){

    #secondaria{
        width:700px;
    }
}

@media only screen and (max-width: 800px){

    #secondaria{
        width:600px;
    }
}

@media only screen and (max-width: 700px){

    #secondaria{
        width:500px;
    }
}

@media only screen and (max-width: 850px){

    ul{
        left:5px;
    }
}

@media only screen and (max-width: 575px) {
    #secondaria{
        width:400px;
    }
}

@media only screen and (max-width: 700px) {
    .recensione{
        width:400px;
    }
}