body{
    text-align:center;
}

#admin{
    position:fixed;
    width:220px;
    text-align:left;
    position: fixed;
    right: 35px;
    top: 5px;
    margin-top: 0px;
}

#admin input{
    margin-top: 0px;
    height:70px;
    width:100%;
    font-size:40px;
    border:2px solid black;
}

.BottoniMenu{
    text-align:center;
}

.bottoneImpostazioni{
    display:inline-block;
    width:200px;
    height:60px;
    border-radius:10px;
    background-color: rebeccapurple;
    margin: 20px 30px;
    padding-bottom:25px;
}

.bottoneImpostazioni:hover{
    background-color: mediumpurple;
}

.bottoneImpostazioni p{
    font-size:27px;
    margin-bottom:20px;
}

p,h1{
    font-family: "copperplate", fantasy;
    color:white;
}

.immaginiProdotto{
    float:left;
    width:300px;
    height:300px;
    border-radius:10px;
    margin: 20px;
}

.testoLista{
    margin-top:10px;
    float:left;
}

.testoDescrizione{
    float:left;
}

.titolo{
    font-size: 30px;
}

.prezzoProdotto{
    font-size: 25px;
}
.numeroCopie{
    font-size: 25px;
}
.descrizione{
    font-size: 25px;
}

.hiddenMenu{
    text-align:left;
    display:none;
}

hr{
    width:100%;
    color:grey;
}

input[type=submit]{
    color:white;
    font-family: "copperplate", fantasy;
    border:0px;
    margin: 20px 20px;
    padding: 10px 10px;
    border-radius: 6px;
    background-color:#601194;
    font-size: 18px;
}

input[type=submit]:hover{
    background-color: rebeccapurple;
}