body{
    color: white;
}

p,textarea{
    color:white;
    font-family: "copperplate", fantasy;
    font-size: 25px;
}

#user{
    width: 100%;
    height: 500px;
    text-align: center;
    margin-top: 40px;
}

#user p{
    font-family: "copperplate", fantasy;
    font-size: 25px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#menuUtente{
    width: 100%;
    height: 1000px;
    text-align: center;
}

#utenteimage{
    width: 175px;
    height: 175px;
    margin-top: 50px;
    border-radius: 50%;
}

#utenteimage2{
    margin-top:10px;
    width:60px;
    height:60px;
    float:left;
    border-radius:50%;
}

#NomeUtente{
    margin-left:15px;
    float:left;
}

#stelleVotate{
    margin-top:30px;
}

#impostazioniUtente{
    width: 100%;
    height: 200px;
}

.bottoneImpostazioni{
    margin: 20px 30px;
    height: 60px;
    width: 200px;
    border-radius: 6px;
    background-color: rebeccapurple;
    display: inline-block;
    padding-top: 15px;
}

.bottoneLogout{
    display: inline-block;
    margin-top: 30px;
    margin-right: 40px;
}

.bottoneModifica{
    text-align:center;
    height: 100%;
    width: 100%;
}

.bottoneModifica input[type=submit]{
    border:none;
    height: 100%;
    width: 100%;
    background: none;
    color:white;
    font-family: "copperplate", fantasy;
    font-size: 25px;
    padding-bottom:33px;
}

.bottoneImpostazioni:hover{
    opacity: 0.7;
}

.hiddenMenu{
    text-align: center;
    width: 100%;
    height: 100%;
    display: none;
}

#m div{
    position: relative;
}

.acquisto{
    width: 80%;
    height: 150px;
    border-radius: 6px;
    background-color: #130A23;
    margin-top: 20px;
    display: inline-block;
}

.acquisto:hover, .bottoneLogout input[type=submit]:hover{
    opacity: 0.8;
}

.acquisto a{
    width: 150px;
    height: 150px;
    border-radius: 6px;
    position: absolute;
    left: 0;
    display: inline-block;
}

.acquisto a img{
    height: 150px;
    width: 200px;
    border-radius: 6px;
}

#descrizione{
    height: 100%;
    width: 70%;
    display: inline-block;
    padding-top: 20px;
    font-size: 25px;
    font-family: "copperplate", fantasy;
    color: khaki;
}

#prezzo{
    height: 100%;
    width: 50px;
    display: inline-block;
    padding-top: 20px;
    font-size: 25px;
    font-family: "copperplate", fantasy;
    color: khaki;
}

#recensione{
    display: inline-block;
    width: 250px;
    height: 200px;
    background-color: #601194;
    border-radius: 6px;
    margin: 20px;
}

#buttonsection{
    width: 100%;
    height: 30px;
    text-align: right;
}
#buttonDelate{
    width: 100%;
    height: 30px;
    text-align: right;
}

#testo{
    width: 100%;
    height: 170px;
}

.bottoneRecensione{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 3px;
    border-style: none;
}

#delete{
    background-color: red;
    background-image: url("pictures/elimina.png");
}

#editbutton{
    background-color: cornflowerblue;
    background-image: url("pictures/matita.png");
}

.bottoneImpostazioni p{
    color:white;
    font-family: "copperplate", fantasy;
    font-size: 25px;
}

a:link, a:visited{
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.recensione{
    margin-left:25px;
    margin-top:70px;
    padding:10px 10px;
    border-radius:10px;
    width:60%;
    heigth:400px;
    background-color: rgb(100,100,100);
    text-align:left;
}

#stelleVotate{
    margin-left:10px;
    float:left;
}

.stelleRec{
    margin-left:2px;
    margin-bottom:10px;
}

#recensioneRegistrata{
    width:90%;
    background-color: rgb(27, 27, 27);
    height: 150px;
    border-radius: 6px;
    overflow: auto;
}

#recensioneInserita{
    margin-left:10px;
    font-size: 20px;
}

#modificaElimina{
    text-align:right;
}

.modificaRec{
    display:inline-block;
    margin-top:10px;
    margin-left:10px;
}

.modificaRec input[type=submit]{
    color:white;
    font-family: "copperplate", fantasy;
    border:0px;
    height: 35px;
    width: 80px;
    border-radius: 6px;
    background-color:#601194;
    font-size: 18px;
}

.modificaRec input[type=submit]:hover{
    background-color:rebeccapurple;
}

#formImg input[type= submit]{
    background-color: #601194;
    font-size: 15px;
    font-family: "copperplate", fantasy;
    height: 30px;
    border-radius: 6px;
    border-style: none;
    color: white;
}

#formImg input[type= file]{
    display: none;
}

#formImg label{
    background-color: #601194;
    font-size: 15px;
    font-family: "copperplate", fantasy;
    height: 40px;
    width: 60px;
    border-radius: 6px;
    padding: 5px;
}


@media only screen and (max-width: 1200px){
    .bottoneImpostazioni{
        height: 60px;
        width: 160px;
    }

    #user p,.bottoneModifica input[type=submit]{
        font-size: 20px;
    }
}

@media only screen and (max-width: 800px){
    #descrizione{
        visibility: hidden;
    }

    p,textarea{
        font-size:20px;
    }
}

@media only screen and (max-width: 700px) {
    .recensione{
        width:400px;
    }
}