body{
    color: white;
}

#user{
    width: 100%;
    height: 500px;
    text-align: center;
    margin-top: 40px;
}

#user p{
    font-family: "copperplate", fantasy;
    font-size: 25px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#menuUtente{
    width: 100%;
    height: 1000px;
    text-align: center;
}

#utenteimage{
    width: 175px;
    height: 175px;
    margin-top: 50px;
}

#impostazioniUtente{
    width: 100%;
    height: 200px;
}

.bottoneImpostazioni{
    margin: 20px 30px;
    height: 60px;
    width: 200px;
    border-radius: 6px;
    background-color: rebeccapurple;
    display: inline-block;
    padding-top: 15px;
}

.bottoneImpostazioni:hover{
    opacity: 0.7;
}

.hiddenMenu{
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: hidden;
}

#m div{
    position: relative;
}

.acquisto{
    width: 80%;
    height: 150px;
    border-radius: 6px;
    background-color: #130A23;
    margin-top: 20px;
    display: inline-block;
}

.acquisto:hover{
    opacity: 0.8;
}

.acquisto a{
    width: 150px;
    height: 150px;
    border-radius: 6px;
    position: absolute;
    left: 0;
    display: inline-block;
}

.acquisto a img{
    height: 150px;
    width: 200px;
    border-radius: 6px;
}

#descrizione{
    height: 100%;
    width: 70%;
    display: inline-block;
    padding-top: 20px;
    font-size: 25px;
    font-family: "copperplate", fantasy;
    color: khaki;
}

#prezzo{
    height: 100%;
    width: 50px;
    display: inline-block;
    padding-top: 20px;
    font-size: 25px;
    font-family: "copperplate", fantasy;
    color: khaki;
}

#recensione{
    display: inline-block;
    width: 250px;
    height: 200px;
    background-color: #601194;
    border-radius: 6px;
    margin: 20px;
}

#buttonsection{
    width: 100%;
    height: 30px;
    text-align: right;
}
#buttonDelate{
    width: 100%;
    height: 30px;
    text-align: right;
}

#testo{
    width: 100%;
    height: 170px;
}

.bottoneRecensione{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 3px;
    border-style: none;
}

#delete{
    background-color: red;
    background-image: url("pictures/elimina.png");
}

#editbutton{
    background-color: cornflowerblue;
    background-image: url("pictures/matita.png");
}

.bottoneImpostazioni p{
    color:white;
    font-family: "copperplate", fantasy;
    font-size: 25px;
}

@media only screen and (max-width: 1200px){
    .bottoneImpostazioni{
        height: 60px;
        width: 160px;
    }

    #user p{
        font-size: 20px;
    }
}

@media only screen and (max-width: 800px){
    #descrizione{
        visibility: hidden;
    }
}